<footer>
	<p>&copy; 2024 My Astro Website. All rights reserved.</p>
</footer>

<style>
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  left: 0;
}
</style>