---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <section id="home">
    <h2>Home Page</h2>
    <p>Welcome to our website! Here, you can find information about what we do and who we are. Feel free to explore our content and learn more about us.</p>
  </section>
</Layout>


